.table-of-contents {
    background-color: #e7e7db;
    border-radius: 1em;
    padding: 2px 32px 2px 32px;
    margin-top: 10px;
}

.table-of-contents h2 {
    font-size: 24px;
    padding-bottom: 6px;
}

.table-of-contents a {
    font-size: 18px;
}

.img-container {
    width: 100%;
}

.img-container .box {
    text-align: center;
    margin: 0 auto;
}

.img-container figure.w25 img {
    max-width: 25%;
}

.img-container figure.w40 img {
    max-width: 40%;
}

.img-container figure.w50 img {
    max-width: 50%;
}

.img-container figure.w60 img {
    max-width: 60%;
}

.img-container figure.w75 img {
    max-width: 75%;
}

.img-container figure.w90 img {
    max-width: 90%;
}

.img-container figure.w100 img {
    max-width: 100%;
}

.img-container .box figcaption {
    text-align: center;
}

@media (max-width: 480px) {
    .img-container figure.w25 img {
        max-width: 50%;
    }

    .img-container figure.w40 img {
        max-width: 80%;
    }

    .img-container figure.w50 img {
        max-width: 80%;
    }

    .img-container figure.w60 img {
        max-width: 90%;
    }

    .img-container figure.w75 img {
        max-width: 95%;
    }

    .img-container figure.w90 img {
        max-width: 100%;
    }
}

.float-right {
    float: right;
    margin-right: 50%;
}

.button {
    border-color: #e26d6d;
    background: #e26d6d;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.codespoiler {
    background: #38312f;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.hidden {
    display: none;
}

pre code {
    font-size: 14px;
}
